{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <h1>Domains:</h1>
    {% for domain in domains %}
        <p><a href="{% url 'domain' domain|get_domains_str %}"><code>{{ domain|get_domains_str }}</code></a></p>
    {% endfor %}
    <h1>Blocks:</h1>
    {% for block in blocks %}
        <p><a href="{% url 'block' block.id %}"><code>{{ block.hash|hexlify }}</code></a></p>
    {% endfor %}
{% endblock content %}
{% block script %}
<script>set_tab('block')</script>
{% endblock script %}