{% extends 'base.html' %}
{% load common_tags %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Key" %}</h1>
    <h2>{% trans "Domains" %}:</h2>
    {% for domain in domains %}
        <p><a href="{% url 'domain' domain|get_domains_str %}"><code>{{ domain|get_domains_str }}</code></a></p>
    {% endfor %}
    <h2>{% trans "Blocks" %}:</h2>
    {% for block in blocks %}
        <p><a href="{% url 'block' block.id %}"><code>{{ block.hash|hexlify }}</code></a></p>
    {% endfor %}
{% endblock content %}
{% block script %}
<script>set_tab('block')</script>
{% endblock script %}