{% extends 'base.html' %}
{% load common_tags %}
{% load i18n %}
{% block content %}
<h1>{% trans "Domain" %}</h1>
<p>{% trans "Owner" %}: <a href="{% url 'key' domain_data.signing|hexlify %}">{{ domain_data.signing|hexlify }}</a></p>
<p>{% trans "Zone" %}: {{ domain_obj.zone }}</p>
<p>{% trans "Hashed" %}: {{ domain_obj.hash }}</p>
<p>{% trans "Solved" %}: {% if domain_obj.real_domain %}{{ domain_obj.real_domain }}{% else %}{% trans "Domain not solved." %} <a href="{% url 'domain_solve' %}">{% trans "Solve" %}.</a>{% endif %}</p>
<p>{% trans "Mined in" %}: {{ domain_data.timestamp|to_date }}</p>
<p>{% trans "Expires in" %}: {{ domain_data.timestamp|add_year|to_date }} {% if domain_data|is_expired %}<b>Domain expired</b>{% endif %}</p>
<p><a href="{% url 'domain_history' domain_obj %}">{% trans "Record history" %}</a></p>
<h3>{% trans "Raw data" %}:</h3>
<pre><code>
{{ data }}
</code></pre>
{% endblock content %}
{% block script %}
<script>set_tab('domain')</script>
{% endblock script %}