{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
<h1>Domain solve</h1>
<form>
    <div class="field">
        <label class="label">Domain</label>
        <div class="control">
            <input name="domain" class="input" required placeholder="Example: cofob.ygg" value="{{ domain }}">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Submit</button>
        </div>
    </div>
</form>
{% endblock content %}
{% block script %}
<script>set_tab('domain')</script>
{% endblock script %}