{% extends 'base.html' %}
{% load common_tags %}
{% load i18n %}
{% block content %}
<h1>{% trans "Domain solve" %}</h1>
<form>
    <div class="field">
        <label class="label">{% trans "Domain" %}</label>
        <div class="control">
            <input name="domain" class="input" required placeholder="{% trans 'Example' %}: cofob.ygg" value="{{ domain }}">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-link">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
{% endblock content %}
{% block script %}
<script>set_tab('domain')</script>
{% endblock script %}