{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <p>ID: {{ b.id }} <a href="/block/{{ b.id|incr }}">Next >></a></p>
    <p>Hash: {{ b.hash|hexlify }}</p>
    <p>By: {{ b.pub_key|hexlify }}</p>
    {% if not origin %}
        <p>Prev hash: <a href="/block/{{ b.prev_block_hash|hexlify }}">{{ b.prev_block_hash|hexlify }}</a></p>
    {% endif %}
    {% if b.transaction %}
        {% if origin %}
            <p>Type: origin</p>
        {% else %}
            <p>Type: transaction</p>
            <p>Domain: <a href="/domain/{{ transaction.identity|get_domain }}">{{ transaction.identity|get_domain }}</a></p>
        {% endif %}
        <p>Raw transaction:</p>
        <div class="raw">
            <code>
                {% for line in raw %}
                        {{ line }}<br>
                {% endfor %}
            </code>
        </div>
    {% else %}
        <p>Type: <a href="/block/{{ bp.id }}">signing</a></p>
    {% endif %}
{% endblock content %}