{% extends 'base.html' %}
{% load common_tags %}
{% load i18n %}
{% block content %}
<h1>{% trans "Blocks" %}</h1>
<p><a href="{% url 'block_list' %}?p={{ page|decr }}"><< </a><a href="{% url 'block_list' %}?p={{ page|incr }}"> >></a></p>
{% for item in list %}
    <p><a href="{% url 'block' item.id %}"><code>{{ item.id }}. {{ item.hash|hexlify }}</code></a></p>
{% endfor %}
<p><a href="{% url 'block_list' %}?p={{ page|decr }}"><< </a><a href="{% url 'block_list' %}?p={{ page|incr }}"> >></a></p>
{% endblock content %}
{% block script %}
<script>set_tab('block')</script>
{% endblock script %}