<!DOCTYPE html>
{% load static %}
{% load common_tags %}
{% load i18n %}
{% spaceless %}
<html lang="ru_RU">
   <head>
      <meta charset="UTF-8">
      {% trans title|default:"My title" as the_title %}
      {% trans description|default:"My Cool Description" as the_description %}
      <title>{{ the_title }} - Alfis</title>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="{% static '/css/all.css' %}?v={{ COMMIT_HASH }}">
      <link rel="shortcut icon" href="/favicon.ico?v={{ COMMIT_HASH }}">
      <meta property="og:type" content="website"/>
      <meta property="og:locale" content="ru_RU">
      <meta property="og:site_name" content="alfis viewer">
      <meta property="og:title" content="{{ the_title }} - Alfis" />
      <meta property="og:url" content="{{ request.build_absolute_uri }}" />
      <meta property="og:title" content="{{ the_title }} - Alfis" />
      <meta property="og:description" content="{{ the_description }}">
   </head>
   <body>
        <script src="{% static '/js/all.js' %}?v={{ COMMIT_HASH }}"></script>
        <div class="main">
             {% block header %}
                {% include 'header.html' %}
             {% endblock header %}
             <div class="tab row page">
                 <div class="content">
                    {% block content %}<p>base</p>{% endblock content %}
                    {% block footer %}
                       {% include 'footer.html' %}
                    {% endblock footer %}
                 </div>
             </div>
        </div>

        <div class="level language-box">
            <div class="language-box-hover">
                <div class="field has-addons level-right language-box-inner">
                  <p class="control">
                    <button class="button" onclick="set_lang('ru');">
                      <span>RU</span>
                    </button>
                  </p>
                  <p class="control">
                    <button class="button" onclick="set_lang('en');">
                      <span>EN</span>
                    </button>
                  </p>
                </div>
            </div>
        </div>

        <div class="notification mini is-warning is-hidden" id="notification_warning">
            <button class="delete" id="warning_close"></button>
            <p id="warning_text"></p>
        </div>

        <div class="notification mini is-danger is-hidden" id="notification_error">
            <button class="delete" id="error_close"></button>
            <p id="error_text"></p>
        </div>

        <div class="notification mini is-success is-hidden" id="notification_success">
            <button class="delete" id="success_close"></button>
            <p id="success_text"></p>
        </div>

        <script>hljs.initHighlightingOnLoad();</script>
        {% if script %}<script>{{ script|safe }}</script>{% endif %}
        {% block script %}
        {% endblock script %}
   </body>
</html>

{% endspaceless %}
