{% load i18n %}
<p style="bottom: 0px; padding-bottom: 20px; padding-top: 20px;">
    <a href="https://sr.ht/~cofob/AlfisViewer">{% trans "Source code" %}.</a>
    {% trans "Made with" %}
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
    {% trans "by cofob" %}. {% trans "Site refresh in" %} {{ UPDATE_IN }}.
    <a href="{% url 'block_list' %}">{{ BLOCK_COUNT }}</a> {% trans "blocks" %}.
    <a href="{% url 'domain_list' %}">{{ DOMAIN_COUNT }}</a> {% trans "domains" %}.
    {% trans "Version" %} {{ COMMIT_HASH }}.
</p>